.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.scoreboardStyle {
  display: flex;
  flex-wrap: flex;
  width: 480px;
  height: 480px;
  background-color: aqua;
}

.boardStyle {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
  background-color: green;
}

.cellStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: solid 1px black;
}

.stoneStyle {
  display: flex;
  width: 56px;
  height: 56px;
  background-color: white;
  border-radius: 50%;
}
